body{
     /* background-image: url('images/lightning9.jpg'); */
     background: repeating-linear-gradient(50deg, #FFCC0F 10px, #FFFD5B 60px);
}
.blue-background{
    background-color: #003399;
    margin: auto ;
    width: 900px ;
    height: 2000px ;
    border-radius: 20px ;
    box-shadow: 0px 5px 5px ;
    position: relative;
}

h1 {
    font-family: 'Bree Serif', serif;
    position: absolute ;
    font-size: 100px ;
    color: #F7FF51 ;
    animation: mymove 7s infinite;
}
h1:hover{
    color:#00FFD8;
}
@keyframes mymove {
    from {text-shadow: 5px 6px 5px rgb(124, 173, 247) ; }
    to {text-shadow: 5px 6px 5px rgba(223, 171, 0, 0.932); }
  }

 #t{
    left: 50px ;
    top: -30px ;
 }
 #h{
     left: 110px ;
     top: -30px ;
 }
 #u{
    left: 170px ;
    top: -30px ;
} 
 #n{
    left: 234px ;
    top: -30px ;
}
 #d{
    left: 295px ;
    top: -30px ;
} 
 #e{
    left: 350px ;
    top: -30px ;
} 
 #r{
    left: 400px ;
    top: -30px ;
}
#c{
    left: 470px ;
    top: -30px ;
}
#o{
    left: 531px ;
    top: -30px ;
}
        #m
        {
            left: 505px ;
            top: -30px ;
        }
#u2{
    left: 580px ;
    top: -30px ;
}
        #a
        {
            left: 590px ;
            top: -30px ;
        }
#n2{
    left: 640px ;
    top: -30px ;
}
        #g{
            left: 648px ;
            top: -30px ;
        }
#c2{
    left: 700px ;
    top: -30px ;
}
#i{
    left: 750px ;
    top: -30px ;
}
#l{
    left: 783px ;
    top: -30px ;
}

.gray-rectangle{
    background-color: rgba(114, 113, 113, 0.726) ;
    position: relative;
    top: 180px;
    left: 32px;
    width: 828px;
    border-color: rgb(83, 83, 83);
    border-style: solid;
    border-radius: 1px ;
    box-shadow: 3px 5px 4px ;
    display: flex ;
    justify-content: space-evenly ;
}

.link-home{
    color: white ;
    font-family: 'Noto Sans KR', sans-serif;
}
.link-schoolBoard{
    color: white ;
    font-family: 'Noto Sans KR', sans-serif;
}
.link-services{
    color: white ;
    font-family: 'Noto Sans KR', sans-serif;
}
.link-twitter{
    color: white ;
    font-family: 'Noto Sans KR', sans-serif;
}
.link-calendar{
    color: white ;
    font-family: 'Noto Sans KR', sans-serif;
}

/* Sliding images */
.slider-image
{
    float: left ;
    margin: 0;
    padding: 0 ;
    width: 830px ;
    height: 624px ;
}

.slider-frame 
{
    width: 830px ;
    height: 624px ;
    position: relative ;
    top: 195px ;
    margin: auto ;
     overflow: hidden ; 
    text-align: center ;
}
 @-webkit-keyframes slide_animation 
 {
    0% {left: 1666px;}
    10% {left: 1666px;}
    20% {left:830px;}
    30% {left:830px;}
    40% {left: 0px;}
    50% {left: 0px}
    60% {left:830px;}
    70% {left:830px;}
    80% {left: 1666px;}
    90% {left: 1666px;}
    100% {left: 1666px;}
 }

 @keyframes slide_animation 
 {
    0% {left: 1666px;}
    10% {left: 1666px;}
    20% {left:830px;}
    30% {left:830px;}
    40% {left: 0px;}
    50% {left: 0px}
    60% {left:830px;}
    70% {left:830px;}
    80% {left: 1666px;}
    90% {left: 1666px;}
    100% {left: 1666px;}
 }
 .slide-images
    {
    width: 2490px ;
    height: 624px;
    margin: 0 0 0 -1660px;
    position: relative;
    animation-name: slide_animation ;
    animation-duration: 33s ;
    animation-iteration-count: infinite ;
    animation-play-state: running;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    }
  .img-container
    {
    height: 624px;
    width: 2490px;
    }

    .welcome
    {
        position: absolute ;
        font-size: 30px ;
        color: rgb(202, 214, 255) ;
        top: 840px ;
        vertical-align: middle ;
        width: 830px ;
        left: 35px ;
        height: 84px ;
        display: table ;
        font-family: 'Oswald', sans-serif;
        text-align: center ;
        
    }
    
    .h2
    {
        vertical-align: middle ;
        display: table-cell ;
    }

    /* The grid */

    .container
    {
        position: absolute ;
        width: 830px ;
        overflow: hidden ;
        top: 1050px ;
        left: 35px ;
        display: grid ;
        grid-template-columns: 320px 160px 350px ;
        grid-template-rows: 50px 450px 17px ;
        grid-column-gap: 15px ;
        grid-row-gap: 20px ;

        grid-template-areas:
        "header header instagram"
        "content content instagram"
        "footer footer footer";
    }

    .grid-one
    {
        background-color: #eec6ca;
        grid-area: header;
        font-family: 'Teko', sans-serif;
        font-size: 45px ;
        text-align: center ;
    }
    .grid-two
    {
        background-color: #e69597;
        grid-area: instagram;
    }
    .grid-three
    {
        background-color: #bcf4de;
        grid-area: content;
        font-family: 'Teko', sans-serif;
    }
    .grid-four
    {
        background-color: #f4eea9;
        grid-area: footer;
    }
    .instagram
    {
        position: relative ;
        top: 10px ;
        left: 10px ;
        width: 300px ;
        height: 500px ;
    }

    /* Update Bar */

    .heading-one
    {
        font-family: 'Oswald', sans-serif;
        font-size: 30px ;
        color: rgb(255, 107, 168) ;
        top: -15px ;
        left: 10px ;
        position: relative ;
    }
    .description-one
    {
        font-family: 'Bree Serif', serif;
        font-size: 19px ;
        top: -39px ;
        left: 5px ;
        position:relative ;
        width: 490px ;
    }
    .description-one-list
    {
        font-family: 'Bree Serif', serif;
        font-size: 19px ;
        top: -55px ;
        left: 5px ;
        position:relative ;
        width: 490px ;
        color: rgb(209, 85, 137) ;
    }
    .heading-two
    {
        font-family: 'Oswald', sans-serif;
        font-size: 30px ;
        color: rgb(255, 107, 168) ;
        top: -85px ;
        left: 10px ;
        position: relative ;
    }

    .instagram-link
    {
        color: rgb(255, 107, 168) ;
    }

    /* Images linkage area */
    .images-link-area
    {
        position: absolute ;
        font-size: 34px ;
        color: rgb(202, 214, 255) ;
        top: 1600px ;
        width: 450px ;
        left: 35px ;
        height: 84px ;
        font-family: 'Oswald', sans-serif;
        text-align: left ;
    }
    .click-here-div
    {
        position: absolute ;
        top: 1530px ;
        left: 400px ;
    }
    .click-here-image
    {
        width: 455px ;
        height: 480px ;
    }

    /* Yellow bar at the bottom */
    .footer-bar
    {
        background-color: #f4eea9;
        height: 17px ;
        width: 830px;
        position: absolute ;
        top: 1960px ;
        left: 35px ;
    }



    /* IPHONE CSS */
    @media (max-width: 500px)
    {  
       h1
       {
           font-size: 150px ;
       }
    #t{
        left: 50px ;
        top: -39px ;
     }
     #h{
         left: 140px ;
         top: -39px ;
     }
     #u{
        left: 230px ;
        top: -39px ;
    } 
     #n{
        left: 321px ;
        top: -39px ;
    }
     #d{
        left: 409px ;
        top: -39px ;
    } 
     #e{
        left: 494px ;
        top: -39px ;
    } 
     #r{
        left: 570px ;
        top: -39px ;
    }
    #c{
        left: 50px ;
        top: 86px ;
    }
    #o{
        left: 140px ;
        top:86px ;
    }
            #m
            {
                left: 505px ;
                top: -30px ;
            }
    #u2{
        left: 220px ;
        top: 86px ;
    }
            #a
            {
                left: 590px ;
                top: 86px ;
            }
    #n2{
        left: 310px ;
        top: 86px ;
    }
            #g{
                left: 648px ;
                top: 86px ;
            }
    #c2{
        left: 400px ;
        top: 86px ;
    }
    #i{
        left: 475px ;
        top: 89px ;
    }
    #l{
        left: 525px ;
        top: 90px ;
    }

    .blue-background
    {
        height: 3780px ;
        width: 860px ;
    }
    .gray-rectangle
     {
       top: 400px ;
       width: 391px ;
       height: 350px ;
       left: 50px ;
       font-size: 45px ;
      }

    .link-home
    {
     position: absolute;
     top: 10px ;
     left: 20px ;
    }
    .link-schoolBoard
    {
        position: absolute;
        top: 68px ;
        left: 20px ;
        width: 300px ;
    }
    .link-services
    {
        position: absolute;
        top: 128px ;
        left: 20px ;
        width: 400px ;
    }
    .link-twitter
    {
        position: absolute;
        top: 188px ;
        left: 20px ;
    }
    .link-calendar
    {
        position: absolute;
        top: 248px ;
        left: 20px ;
    }

    .welcome
    {
        font-size: 50px ;
        top: 695px ;
        left: 20px ;
        height: 400px ;
        width: 830px ; 
    }

    .slider-frame
    {
        top: 830px ;
        margin: auto ;
        overflow: hidden ; 
    }

    .slide-images
    {
    animation-duration: 40s ;
    -webkit-animation-duration: 40s;
    }

    @-webkit-keyframes slide_animation 
    {
       0% {left: 1666px;}
       10% {left: 1666px;}
       20% {left:1666px;}
       30% {left:830px;}
       40% {left: 830px;}
       50% {left: 0px}
       60% {left:0px;}
       70% {left:830px;}
       80% {left: 830px;}
       90% {left: 1666px;}
       100% {left: 1666px;}
    }

    @keyframes slide_animation 
    {
        0% {left: 1666px;}
        10% {left: 1666px;}
        20% {left:1666px;}
        30% {left:830px;}
        40% {left: 830px;}
        50% {left: 0px}
        60% {left:0px;}
        70% {left:830px;}
        80% {left: 830px;}
        90% {left: 1666px;}
        100% {left: 1666px;}
     }

    .container
    {
        position: absolute ;
        width: 825px ;
        overflow: hidden ;
        top: 1840px ;
        left: 21px ;
        display: grid ;
        grid-template-columns: 830px ;
        grid-template-rows: 120px 860px 30px ;

        grid-template-areas:
        "header "
        "content "
        "footer ";
    }
    .grid-one
    {
        font-size: 80px ;
        width: 830px ;
        align-items: center ;
    }
    .heading-one
    {
    font-size: 60px ;
    top: -50px ;
    }
    .description-one
    {
        font-size: 30px ;
        top: -105px ;
        left: 5px ;
        width: 830px ;
    }
    .description-one-list
    {
        font-size: 35px ;
        top: -155px ;
        left: 80px ;
        width: 830px ;
    }
    .heading-two
    {
        font-size: 60px ;
        top: -219px ;
        left: 10px ;
    }







    .images-link-area
    {
        font-size: 60px ;
        top: 2870px ;
        width: 830px ;
        left: 21px ;
        height: 84px ;
        text-align: center ;
    }
    .click-here-div
    {
        position: absolute ;
        top: 3150px ;
        left: 122px ;
    }
    .click-here-image
    {
        width: 600px ;
        height: 600px ;
    }
    /* Yellow bar at the bottom */
    .footer-bar
    {
        height: 30px ;
        width: 828px;
        top: 3690px ;
        left: 21px ;
    }
}


        